<link rel="stylesheet" href="/css/signup.css">
<div id="iconaboveform">
    <img src="/icon/signIn/signuplogo.svg" id="signupuser" alt="">
    <img src="/icon/signIn/Line 1.svg" id="line1" alt="">
    <img src="/icon/signIn/Line 1.svg" class="line1bani" id="line1b" alt="">
    <img src="/icon/signIn/user.svg" id="usericon" alt="">
    <img src="/icon/signIn/Line 2.svg" id="line2" alt="">
    <img src="/icon/signIn/vuser.svg" id="vuser" alt="">
</div>
<form action="/User/create-session" method="POST">
    <input type="email" name="email" placeholder="Email" class="TextField subtitle" required>
    <input type="password" name="password" placeholder="Password" class="TextField subtitle" required>
    <button type="submit" class="primary btn subtitle">Sign In</button>
</form>
<p id="haveacc" class="bodytext">Don’t have any account? <a href="/User/SignUp" class="link">Sign up</a> </p>