<link rel="stylesheet" href="/css/signup.css">
<style>
    button{
        display: inline-block;
        margin: 10px;
    }
</style>
<div id="iconaboveform">
    <img src="/icon/signIn/signuplogo.svg" id="signupuser" alt="">
    <img src="/icon/signIn/Line 1.svg" id="line1" alt="">
    <img src="/icon/signIn/Line 1.svg" id="line1b" alt="">
    <img src="/icon/verifiedUser/user.svg" id="usericon" alt="">
    <img src="/icon/verifiedUser/Line 2.svg" id="line2" alt="">
    <img src="/icon/verifiedUser/Line 2.svg" id="line2b" alt="">
    <img src="/icon/verifiedUser/vuser.svg" id="vuser" alt="">
</div>

<div class="text-center">
    <p class="h2text text-center">You get successfully Logged in...</p>
    <button type="button" class="primary btn subtitle" onclick="location.href='/'">Back to Home</button> <br>
    <button type="button" class="danger btn subtitle" onclick="location.href='/User/SignOut'">Log Out</button>
</div>
